[user]
	name = Randy Fay
	email = randy@randyfay.com
	mail = randy@randyfay.com
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore
	filemode = false
[push]
	default = tracking
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[branch]
	autosetuprebase = always
[merge]
        keepBackup = false
	tool = p4merge
[tool]
	merge = diffmerge
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[mergetool]
	tool = kdiff3
	trustExitCode = false
[mergetool "extMerge"]
	cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[diff]
	tool = p4diff
	submodule = log
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[credential]
	helper = osxkeychain
# [url "git@github.com:"]
	#insteadOf = https://github.com/
[status]
	submoduleSummary = true
[fetch]
	recurseSubmodules = on-demand
[hub]
	protocol = ssh
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
